<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>test-axis2</display-name>

	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
      <param-name>contextConfigLocation</param-name>
<!--       <param-value>/WEB-INF/spring-config-${org.vstech.env}.xml</param-value> -->
 	  <param-value>/WEB-INF/spring-config-dev.xml</param-value>
	</context-param>

		<context-param>
			<param-name>log4jConfigLocation</param-name>
			<param-value>classpath:log4j.xml</param-value>
		</context-param>

		<context-param>
			<param-name>webAppRootKey</param-name>
			<param-value>test-axis2</param-value>
		</context-param>

<!-- 	<listener> -->
<!-- 		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> -->
<!-- 	</listener> -->


<!-- 	<filter> -->
<!-- 		<filter-name>springSecurityFilterChain</filter-name> -->
<!-- 		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!-- 	</filter> -->

<!-- 	<filter-mapping> -->
<!-- 		<filter-name>springSecurityFilterChain</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->

	<servlet>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
		<!--<init-param>-->
		<!--<param-name>axis2.xml.path</param-name>-->
		<!--<param-value>/WEB-INF/conf/axis2.xml</param-value>-->
		<!--<param-name>axis2.xml.url</param-name>-->
		<!--<param-value>http://localhost/myrepo/axis2.xml</param-value>-->
		<!--<param-name>axis2.repository.path</param-name>-->
		<!--<param-value>/WEB-INF</param-value>-->
		<!--<param-name>axis2.repository.url</param-name>-->
		<!--<param-value>http://localhost/myrepo</param-value>-->
		<!--</init-param>-->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<display-name>Apache-Axis AxisAdmin Servlet (Web Admin)</display-name>
		<servlet-name>AxisAdminServlet</servlet-name>
		<servlet-class>org.apache.axis2.webapp.AxisAdminServlet</servlet-class>
	</servlet>

	<!-- <servlet>
		<display-name>SOAPMonitorService</display-name>
		<servlet-name>SOAPMonitorService</servlet-name>
		<servlet-class>org.apache.axis2.soapmonitor.servlet.SOAPMonitorService</servlet-class>
		<init-param>
			<param-name>SOAPMonitorPort</param-name>
			<param-value>5002</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet> -->

	<servlet-mapping>
			<servlet-name>AxisServlet</servlet-name>
			<url-pattern>/servlet/AxisServlet</url-pattern>
		</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisAdminServlet</servlet-name>
		<url-pattern>/axis2-admin/*</url-pattern>
	</servlet-mapping>

	<!-- <servlet-mapping>
		<servlet-name>SOAPMonitorService</servlet-name>
		<url-pattern>/SOAPMonitor</url-pattern>
	</servlet-mapping> -->

	<mime-mapping>
		<extension>inc</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>/axis2-web/index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>403</error-code>
		<location>/logon.jsp?access_error=1</location>
	</error-page>
	
	<error-page>
      <error-code>404</error-code>
      <location>/axis2-web/Error/error404.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/axis2-web/Error/error500.jsp</location>
    </error-page>
</web-app>